body{
  display:grid;
  place-items: center;
}
#root {
  margin:0 auto;
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 2rem;
}
.count-container{
  display:flex;
  flex-direction: column;
  place-self: center;
  place-items: center;
  gap:1rem;
}